<!-- Set-up -->
{% load static %} {% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'edge/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<style>
  .column {
  flex: 50%;
  padding: 5px;
  }
  .button-row {
    margin-left: 1%;
  }
  .image-container {
    /* padding: % */
  }
  h1 {
    padding: 1%
  }
</style>

<!-- Intro; consider moving to base.html -->
<h1>Global Policy Lab | Aerial History Project | Stitching</h1>

<!-- Edge photos -->
<h1>Input photos</h1>
<column>
  <div class="row">
    {% for image, imnum in image_list %}
    <div class="column">
      <h2>Image {{imnum|slice:"2:"}}: {{ image|slice:"5:" }}</h2>
      {% if image %}
        <canvas
          id="{{imnum}}"
          width="512"
          height="512"
          style="border: 5px solid #000000;"
        ></canvas>
        <h2>Coordinate:</h2>
        <h2 id="{{imnum}}Coordinates"></h2>
      {% else %}
        <h1><p>Try reloading photo.</p></h1>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</column>

<div class="button-row">
<!-- Save points button -->
  <!-- <button onclick="recordCoordinates();">Record</button> -->

  <!-- Script visualization button -->
  <button onclick="visualizeMerge();">
    <h2>Visualize</h2>
  </button>

  <!-- Post button -->
  <button onclick="saveCoordinates();">
    <h2>
      Save coordinates
    </h2>
  </button>

  <!-- Clear button -->
  <button onclick="clearAll();">
    <h2>
      Clear
    </h2>
  </button>
</div>


<!-- Output photo -->
<h1>Visualization</h1>
<div class="image-container">
  <img id='visualization' width="512" height="512" style="border:3px solid black"></img>
</div>


<script language="javascript">
  var canvas = document.getElementById("im1");
  var ctx = canvas.getContext("2d");
  ctx.fillStyle = "#FF0000";

  var canvas2 = document.getElementById("im2");
  var ctx2 = canvas2.getContext("2d");
  ctx2.fillStyle = "#00FF00";

  var curX, curY;
  var curX2, curY2;

  var current_point = [];
  var points = [];

  // Helper Functions

  function clearAll() {
    points = []
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
    document.getElementById("visualization").src = "";

    document.getElementById("im1Coordinates").innerHTML = "";
    document.getElementById("im2Coordinates").innerHTML = "";
    onload1()
    onload2()
    alert("Cleared!")
  }

  function visualizeMerge() {
    console.log(points)
    $.ajax({
      type: "POST",
      url: '{% url "edge:visualize" %}',
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        points: points
      },
      dataType: "json",
      success: function(data) {
        document.getElementById("visualization").src = data.url
        alert("Successfully visualized.");
        // alert(document.getElementById("im0").src)
      },
      failure: function(data) {
        alert("Failed visualization!");
      }
    });
  }

  function saveCoordinates() {
    $.ajax({
      type: "POST",
      url: '{% url "edge:save" %}',
      data: {
        im1_name: "{{image_list.0.0}}",
        im2_name: "{{image_list.1.0}}",
        im1_x: curX,
        im1_y: curY,
        im2_x: curX2,
        im2_y: curY2,
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      dataType: "json",
      success: function(data) {
        alert("Successfully saved coordinate.");
      },
      failure: function(data) {
        alert("Failed!");
      }
    });
  }

  function updateLatestCoordinates1(curX, curY) {
    current_point.push(curX * 4900 / 512)
    current_point.push(curY * 4900 / 512)
    document.getElementById("im1Coordinates").innerHTML = curX * 4900 / 512 + " // " + curY * 4900 / 512;
  }

  function updateLatestCoordinates2(curX2, curY2) {
    current_point.push(curX2 * 4900 / 512)
    current_point.push(curY2 * 4900 / 512)
    points.push(current_point)
    current_point = []
    document.getElementById("im2Coordinates").innerHTML = curX2 * 4900 / 512 + " // " + curY2 * 4900 / 512;
    console.log(current_point)
    console.log(points)
  }

  function onload1() {
    var background = new Image();
    background.src = "{% static image_list.0.0 %}";
    console.log(background.src)
    background.onload = () => {
      ctx.drawImage(background, 0, 0, 512, 512);
    };
  }
  function onload2() {
    var background = new Image();
    background.src = "{% static image_list.1.0 %}";
    background.onload = () => {
      ctx2.drawImage(background, 0, 0, 512, 512);
    };
  }

  function listen() {
    canvas.onmousedown = function(e) {
      curX = e.clientX - canvas.getBoundingClientRect().left;
      curY = e.clientY - canvas.getBoundingClientRect().top;
      updateLatestCoordinates1(curX, curY);
      hold = true;
      ctx.fillRect(curX, curY, 5, 5);
    };

    canvas2.onmousedown = function(e) {
      curX2 = e.clientX - canvas2.getBoundingClientRect().left;
      curY2 = e.clientY - canvas2.getBoundingClientRect().top;
      updateLatestCoordinates2(curX2, curY2);
      hold = true;
      ctx2.fillRect(curX2, curY2, 5, 5);
    };
  }
  window.onload = function() {
    onload1();
    onload2();
    listen();
  };
</script>
