<!-- Set-up -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'edge/style.css' %}">

<!-- Intro; consider moving to base.html -->
<h1>Global Policy Lab | Aerial History Project</h1>
<h1>Stitching</h1>

<!-- Edge photos -->
<column>
    <div class="row">
        {% for image, imnum in image_list %}
            <div class="column">
                <h2>image 1: {{ image|slice:"5:" }}</h2>
                {% if image %}
                    <ul>
                        <canvas id={{imnum}} width="256" height="256" style="border: 5px solid #000000;"></canvas>
                    </ul>
                {% else %}
                    <h1><p>Try reloading photo.</p></h1>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</column>

<!-- Output photo -->
<h1> Output [pending] </h1>

<script src="{% static 'edge/js/script.js' %}" img="{% static image_list.0.0 %}" img2="{% static image_list.1.0 %}"></script>