<!-- Set-up -->
{% load static %} {% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static 'edge/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Intro; consider moving to base.html -->
<h1>Global Policy Lab | Aerial History Project | Stitching</h1>

<!-- Edge photos -->
<h1>Input photos</h1>
<column>
  <div class="row">
    {% for image, imnum in image_list %}
    <div class="column">
      <h2>Image {{imnum|slice:"2:"}}: {{ image|slice:"5:" }}</h2>
      {% if image %}
        <canvas
          id="{{imnum}}"
          width="512"
          height="512"
          style="border: 5px solid #000000;"
        ></canvas>
        <h2>Coordinate:</h2>
        <h2 id="{{imnum}}Coordinates"></h2>
      {% else %}
        <h1><p>Try reloading photo.</p></h1>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</column>

<div class="button-row">
<!-- Save points button (stretch) -->
  <!-- <button onclick="recordCoordinates();">Record</button> -->

  <!-- Script visualization button -->
  <button onclick="visualizeMerge();">
    <h2>Visualize</h2>
  </button>

  <!-- Post button -->
  <button onclick="saveCoordinates();">
    <h2>
      Save coordinates
    </h2>
  </button>

  <!-- Clear button -->
  <button onclick="clearAll();">
    <h2>
      Clear
    </h2>
  </button>
</div>


<!-- Output photo -->
<h1>Visualization</h1>
<div class="image-container">
  <img id='visualization' width="512" height="512" style="border:3px solid black"></img>
</div>

<!-- SCRIPT -->

<script language="javascript">
  // Hard-coded values
  var canvasWidth = 512
  var colors = ['#ff0000', '#00ff00', '#00bbff', '#ff00ff', '#ffff00']
  var colorIndex = 4

  // Cavas + color set-up
  var canvas1 = document.getElementById("im1");
  var ctx1 = canvas1.getContext("2d");
  ctx1.fillStyle = colors[colorIndex]

  var canvas2 = document.getElementById("im2");
  var ctx2 = canvas2.getContext("2d");
  ctx2.fillStyle = colors[colorIndex]

  // Variable definition
  var curX1, curY1, curX2, curY2;
  var im1NaturalWidth, im1NaturalHeight, im2NaturalWidth, im2NaturalHeight

  var current_point = [];
  var points = [];


  // Helper Functions

  function clearAll() {
    points = []
    ctx1.clearRect(0, 0, canvas1.width, canvas1.height);
    ctx2.clearRect(0, 0, canvas2.width, canvas2.height);
    document.getElementById("visualization").src = "";

    document.getElementById("im1Coordinates").innerHTML = "";
    document.getElementById("im2Coordinates").innerHTML = "";
    onload1()
    onload2()
    alert("Cleared!")
  }

  function visualizeMerge() {
    $.ajax({
      type: "POST",
      url: '{% url "edge:visualize" %}',
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        points: points
      },
      dataType: "json",
      success: function(data) {
        document.getElementById("visualization").src = data.url
        alert("Successfully visualized – see output below.");
      },
      failure: function(data) {
        alert("Failed visualization!");
      }
    });
  }

  function saveCoordinates() {
    $.ajax({
      type: "POST",
      url: '{% url "edge:save" %}',
      data: {
        im1_name: "{{image_list.0.0}}",
        im2_name: "{{image_list.1.0}}",
        im1_x: curX1,
        im1_y: curY1,
        im2_x: curX2,
        im2_y: curY2,
        csrfmiddlewaretoken: "{{ csrf_token }}"
      },
      dataType: "json",
      success: function(data) {
        alert("Successfully saved coordinate.");
        clearAll();
      },
      failure: function(data) {
        alert("Failed!");
      }
    });
  }

  function updateLatestCoordinates1(curX1, curY1) {
    current_point.push(curX1 * im1NaturalWidth / canvasWidth)
    current_point.push(curY1 * im1NaturalHeight / canvasWidth)
    document.getElementById("im1Coordinates").innerHTML = curX1 * im1NaturalWidth / canvasWidth + " // " + curY1 * im1NaturalHeight / canvasWidth;
  }

  function updateLatestCoordinates2(curX2, curY2) {
    current_point.push(curX2 * im1NaturalWidth / canvasWidth)
    current_point.push(curY2 * im1NaturalHeight / canvasWidth)
    points.push(current_point)
    current_point = []
    document.getElementById("im2Coordinates").innerHTML = curX2 * im1NaturalWidth / canvasWidth + " // " + curY2 * im1NaturalHeight / canvasWidth;
    colorIndex = (colorIndex + 1) % 5
    ctx1.fillStyle = colors[colorIndex]
    ctx2.fillStyle = colors[colorIndex]
  }

  function onload1() {
    var background = new Image();
    background.src = "{% static image_list.0.0 %}";
    background.onload = () => {
      ctx1.drawImage(background, 0, 0, canvasWidth, canvasWidth);
      im1NaturalHeight = background.naturalHeight;
      im1NaturalWidth = background.naturalWidth;
    };
  }
  function onload2() {
    var background = new Image();
    background.src = "{% static image_list.1.0 %}";
    background.onload = () => {
      ctx2.drawImage(background, 0, 0, canvasWidth, canvasWidth);
      im2NaturalHeight = background.naturalHeight;
      im2NaturalWidth = background.naturalWidth;
    };
  }

  function listen() {
    canvas1.onmousedown = function(e) {
      curX1 = e.clientX - canvas1.getBoundingClientRect().left;
      curY1 = e.clientY - canvas1.getBoundingClientRect().top;
      hold = true;
      ctx1.fillRect(curX1, curY1, 5, 5);
      updateLatestCoordinates1(curX1, curY1);
    };

    canvas2.onmousedown = function(e) {
      curX2 = e.clientX - canvas2.getBoundingClientRect().left;
      curY2 = e.clientY - canvas2.getBoundingClientRect().top;
      hold = true;
      ctx2.fillRect(curX2, curY2, 5, 5);
      updateLatestCoordinates2(curX2, curY2);
    };
  }
  window.onload = function() {
    onload1();
    onload2();
    listen();
  };
</script>

<style>
  .column {
  flex: 50%;
  padding: 5px;
  }
  .button-row {
    margin-left: 1%;
  }
  .image-container {
    /* padding: % */
  }
  h1 {
    padding: 1%
  }
</style>